<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dashboard</title>
  </head>
  <body>
    <p id="dashboard"></p>
    <script src="../lang/dashboard.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>